PORT=8080
GOOGLE_CLOUD_PROJECT=project-c98d2dac-2409-44bd-aba
IDENTITY_PLATFORM_TENANT_ID=India-p9rv0
OTP_PROVIDER=mock
VODAFONE_API_BASE_URL=
VODAFONE_API_KEY=
VODAFONE_CLIENT_ID=
VODAFONE_CLIENT_SECRET=
OTP_SIGNING_SECRET=change-me-for-local-only
